@import '../../../app/assets/styles/vars';

.auth {
  background: $primary;
  border-radius: 6px;
  padding: 40px;
  display: grid;
  gap: 10px;
  place-items: center;

  h3 {
    color: #fff;
  }
}

.form {
  display: grid;
  gap: 20px;

  button {
    width: 100%;
    background: $secondary;
    border-radius: 6px;
    padding: 10px 24px;
    font-weight: 600;
    color: #fff;
  }

  input {
    padding: 10px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
  }
}