@import '../../../app/assets/styles/vars';

.auth {
  background: #fff;
  border-radius: 6px;
  padding: 40px;
  display: grid;
  gap: 10px;
  place-items: center;
  box-shadow: $box-shadow;
  width: 360px;

  h3 {
    color: $primary;
    position: relative;
    margin-bottom: 20px;

    &:before {
      content: '';
      position: absolute;
      top: 30px;
      right: 0;
      left: 0;
      margin: 0 auto;
      width: 30px;
      height: 2px;
      background-color: $primary;
    }
  }
}

.form {
  display: grid;
  gap: 20px;
  width: 100%;

  button {
    border-radius: 24px;
  }

  label {
    position: relative;

    p {
      opacity: 0;
      padding: 0 4px;
      display: block;
      position: absolute;
      font-size: 12px;
      color: $primary;
      font-weight: 600;
      background-color: #fff;
      top: -5px;
      left: 8px;
      transition: opacity .2s ease-in-out;
    }

    &:focus-within {
      p {
        opacity: 1;
      }

      input {
        border: 2px solid $primary !important;

        &::placeholder {
          opacity: 0;
        }
      }
    }

    input {
      transition: border .2s ease-in-out;
      padding: 10px;
      font-weight: 600;
      border: 2px solid $gray;
      border-radius: 6px;
      width: 100%;

      &::placeholder {
        transition: opacity .2s ease-in-out;
      }

      &:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 50px white inset;
      }
    }
  }

  > p {
    font-size: 16px;
    font-weight: 600;
    text-align: center;

    a {
      color: $primary;
      transition: color .2s ease-in-out;

      &:hover {
        color: #7f56e8;
      }
    }
  }
}