@import '../../../app/assets/styles/vars';
@import '../../../app/assets/styles/mixins';

.contextMenu {
  @include menu;

  section {
    &:not(.open, :last-child) {
      display: grid;
      gap: 5px;
    }
  }
}

.open {
  div {
    path {
      fill: #808080;
    }
  }
}