@import '../../../app/assets/styles/vars';

.settings {
  padding: 40px;
  display: grid;
  gap: 20px;
  width: max-content;

  a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $gray;
    padding: 10px 0;

    button {
      border-radius: 12px;
      font-weight: 600;
    }

    p {
      color: black;
    }
  }

  div {
    h4 {
      margin-bottom: 10px;
    }

    button {
      margin-left: 20px;
      border-radius: 12px;
      padding: 10px;
      box-shadow: 0 2px 2px #333232;
    }
  }
}