@import '../../../app/assets/styles/vars';

.emptyFolder {
  display: grid;
  align-content: center;
  justify-items: center;
  height: 100%;

  img {
    height: 200px;
    width: 200px;
  }

  p {
    font-size: 48px;
    font-weight: 600;
  }
}