@import '../../../app/assets/styles/vars';

.container {
  width: 100%;
  height: calc(100vh - $header-height);
  padding: 40px;
  transition: width .3s ease-in-out;
  overflow: auto;
}

.storageHeadline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;

  h2 {
    margin-bottom: 20px;
  }

  > div:last-child {
    display: flex;
    background: #fff;
    border-radius: 24px;
    height: 36px;

    > button {
      background: #fff;
      border-radius: 50%;
      transition: background .15s ease-in-out;
      padding: 10px;
      width: 36px;
      height: 36px;

      &:hover {
        background: $primary;

        g {
          fill: #fff;
        }
      }
    }
  }
}

.activeBtn {
  background: $primary !important;

  g {
    fill: #fff;
  }
}

.grid {
  display: grid;
  grid-template: auto / repeat(4, 1fr);
  gap: 20px;
}

.list {
  display: grid;
  gap: 10px;
}

.selectionBar {
  position: fixed;
  display: flex;
  gap: 20px;
  width: calc(100% - $nav-width);
  padding: 20px 40px;
  left: $nav-width;
  background-color: #fff;
  border-top: 1px solid $gray;
  bottom: 0;
  z-index: 7;

  button {
    background-color: $primary;
    border-radius: 12px;
    padding: 10px 20px;
    color: #fff;
    font-weight: 600;
  }
}