@import '../../../app/assets/styles/vars';
@import '../../../app/assets/styles/mixins';

.storageHeadline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;

  > div:first-child {
    position: relative;

    h2 {
      margin-bottom: 20px;
    }

    > div {
      cursor: pointer;
      user-select: none;
      display: flex;
      align-items: center;
      gap: 10px;

      > svg {
        transition: rotate .2s ease-in-out;
      }

      button {
        color: $secondary;
        font-weight: 600;
      }
    }
  }

  > div:last-child {
    display: flex;
    background: #fff;
    border-radius: 24px;
    height: 36px;

    > button {
      background: #fff;
      border-radius: 50%;
      transition: background .15s ease-in-out;
      padding: 10px;
      width: 36px;
      height: 36px;

      &:hover {
        background: $primary;

        g {
          fill: #fff;
        }
      }
    }
  }
}

.setSort {
  p {
    display: inline-block;
    font-weight: 600;

    &:first-child {
      color: #8a8f98;
      margin-right: 7px;
    }

    &:last-child {
      text-transform: capitalize;
      color: black;
    }
  }
}

.activeBtn {
  background: $primary !important;

  g {
    fill: #fff;
  }
}

.grid {
  display: grid;
  grid-template: auto / repeat(4, 1fr);
  gap: 20px;
}

.list {
  display: grid;
  gap: 10px;
}

.listContainer {
  border-bottom: 2px solid $primary;
}

.navigate {
  background-color: #fff;
  border-radius: 24px;
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: box-shadow .2s ease-in-out, background-color .2s ease-in-out;

  &:hover {
    box-shadow: $box-shadow;
    background-color: #efefef;
  }

  div {
    display: flex;
    align-items: center;
    gap: 5px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    padding: 10px;
    transition: background-color .2s ease-in-out;

    span {
      height: 20px;
      width: 20px;
      border-radius: 50%;
      background-color: #c7c3c3;
      margin: 0 auto;
    }

    &:hover {
      background-color: #3f3e3e;
    }
  }
}