@import '../../../app/assets/styles/vars';

.gridItem, .gridItem > div:last-child {
  transition: background-color .2s ease-in-out, box-shadow .2s ease-in-out;
}

.gridItem {
  background-color: #fff;
  border-radius: 24px;
  display: grid;
  align-content: space-between;
  cursor: pointer;
  color: black;

  &:not(.active):hover {
    background-color: $gray;
    box-shadow: 0 0 5px 2px gray;

    .itemFooter {
      background-color: #e0e0e0;
    }
  }

  h4 {
    margin-bottom: 10px;
  }

  p {
    font-size: 14px;
    color: #8a8989;
  }
}

.active {
  box-shadow: 0 0 5px 2px $primary;
}

.itemHeadline {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;

  > div {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 4px;
    height: max-content;

    &:before {
      content: '';
      position: absolute;
      height: 25px;
      width: 25px;
      right: 10px;
      top: 18px;
    }

    span {
      display: block;
      border-radius: 50%;
      width: 4px;
      height: 4px;
      background: #c7c3c3;
    }
  }
}

.itemFooter {
  background-color: #f0f0f0;
  border-radius: 0 0 24px 24px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  span {
    font-weight: 600;
  }
}