@import '../../../app/assets/styles/vars';

.listItem {
  position: relative;
  color: black;
}

.container {
  border-bottom: 2px solid $primary;
}

.item {
  cursor: pointer;
  padding: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color .2s ease-in-out, box-shadow .2s ease-in-out;
  border-radius: 24px;

  div {
    div:last-child {
      cursor: pointer;
      display: flex;
      gap: 4px;
      height: max-content;

      &:before {
        content: '';
        position: absolute;
        height: 25px;
        width: 25px;
        right: 17px;
      }

      span {
        display: block;
        border-radius: 50%;
        width: 4px;
        height: 4px;
        background: #c7c3c3;
      }
    }
  }

  &:not(.active):hover {
    background-color: #fff;
  }

  p {
    color: $secondary;
    font-weight: 600;
  }

  div {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}

.active {
  box-shadow: 0 0 5px 2px $primary;
  background-color: #fff;
}