@import '../../../app/assets/styles/vars';

.container {
  border-bottom: 2px solid $primary;
}

.item {
  cursor: pointer;
  padding: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color .2s ease-in-out;
  border-radius: 24px;

  &:hover {
    background-color: #fff;
  }

  img {
    filter: brightness(0) saturate(100%) invert(24%) sepia(46%) saturate(2167%) hue-rotate(234deg) brightness(91%) contrast(90%);
  }

  p {
    color: $secondary;
    font-weight: 600;
  }

  div {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}