@import '../../../app/assets/styles/vars';

.nav {
  height: 100vh;
  width: $nav-width;
  background-color: #12131a;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px 13px;
  transition: width .2s ease-in-out, padding .2s ease-in-out;

  > div:first-child {
    display: grid;
    justify-items: flex-start;

    div {
      display: grid;
      gap: 10px;
      justify-items: center;
      position: relative;
      left: 5px;
      transition: left .2s ease-in-out;
      margin-bottom: 40px;
    }
  }

  ul {
    display: grid;
    gap: 10px;

    li {
      path {
        fill: #808080;
      }
    }

    a, .logoutBtn {
      padding: 20px;
      border-radius: 24px;
      display: block;
      width: 70px;
      height: 70px;
      transition: background-color 80ms ease-in-out, width .2s ease-in-out;
      position: relative;

      path {
        transition: fill 80ms ease-in;
      }

      p {
        position: absolute;
        translate: -40px;
        transition: opacity .2s ease-in-out, translate .2s ease-in-out;
        opacity: 0;
        left: 70px;
        top: 39%;
        width: 110px;
      }

      &:hover {
        background-color: $primary;

        path {
          fill: #fff
        }
      }
    }
  }
}


.navActive {
  $nav-width: 280px !global;
  width: $nav-width;
  padding: 40px;

  > div:first-child {
    div {
      left: 0;
    }
  }

  ul {
    a, .logoutBtn {
      width: 200px;
    }

    p {
      opacity: 1 !important;
      translate: 0 !important;
    }
  }
}

.active {
  background: $primary;

  path {
    fill: #fff !important;
  }
}

.memoryUsed {
  z-index: 0;
  margin: 0 auto;

  span {
    display: grid;
    place-items: center;
    background: #fff;
    border-radius: 50%;
    position: relative;
    bottom: 10px;
    color: $primary;
    font-weight: 600;
    text-align: center;
    height: 50px;
    width: 50px;
    font-size: 14px;

    &:before {
      content: '';
      position: absolute;
      inset: 0;
      z-index: -1;
      margin: -7px;
      border-radius: inherit;
      background-image: linear-gradient(180deg, #0ed9b1, #06b17a);
    }
  }
}

.logoutBtn {
  cursor: pointer;
}