@import '../../../app/assets/styles/vars';

.nav {
  height: 100vh;
  width: $nav-width;
  background: #12131a;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px;
  position: fixed;

  ul {
    display: grid;
    gap: 10px;
  }

  li, path {
    transition: all 80ms ease-in-out;
  }

  li {
    padding: 20px;
    width: 200px;
    border-radius: 24px;
    display: flex;
    align-items: center;
    gap: 20px;

    &:hover {
      background: $primary;

      path {
        fill: #fff;
      }
    }
  }
}

.active {
  li {
    background: $primary;

    path {
      fill: #fff;
    }
  }
}