@import '../../../app/assets/styles/vars';

.contextMenuBtn {
  position: absolute;
  cursor: pointer;
  display: flex;
  gap: 4px;
  height: max-content;
  //margin-left: 10px;

  &:before {
    content: '';
    position: absolute;
    height: 25px;
    width: 25px;
    right: -10px;
    bottom: -3px;
  }

  span {
    display: block;
    border-radius: 50%;
    width: 4px;
    height: 4px;
    background-color: #c7c3c3;
  }
}

.active {
  box-shadow: 0 0 5px 2px $primary;

  &List {
    @extend .active;
    background-color: #fff;
  }
}

.gridItem, .gridItem > div:nth-child(2) {
  transition: background-color .2s ease-in-out, box-shadow .2s ease-in-out;
}

.gridItem {
  background-color: #fff;
  border-radius: 24px;
  display: grid;
  align-content: space-between;
  cursor: pointer;
  color: black;

  &:not(.active):hover {
    background-color: $gray;
    box-shadow: 0 0 5px 2px gray;

    div:nth-child(2) {
      background-color: #e0e0e0;
    }
  }

  h4 {
    margin-bottom: 10px;
  }

  p {
    font-size: 14px;
    color: #8a8989;
  }

  div {
    &:first-child {
      border-radius: 12px 12px 0 0;
    }

    &:nth-child(3) {
      div {
        display: grid;
        position: absolute;
        right: 25px !important;
        top: -200px;
      }
    }
  }
}

.listItem {
  color: black;
  cursor: pointer;
  padding: 20px;
  margin-bottom: 10px;
  transition: background-color .2s ease-in-out, box-shadow .2s ease-in-out;
  border-radius: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  > div {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  p {
    color: $secondary;
    font-weight: 600;
  }

  div:nth-child(3) {
    right: 40px;

    div {
      &:before {
        right: -3px;
        bottom: -10px;
      }
    }
  }

  &:not(.activeList):hover {
    background-color: #fff;
  }
}