@import '../../../app/assets/styles/vars';

.selectionBar {
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #fff;
  border-top: 1px solid $gray;
  height: $selection-bar-height;

  > p {
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 600px;
  }

  div {
    display: flex;

    p {
      display: none;
    }

    img, svg {
      cursor: pointer;
    }

    div:not(:last-child), section:not(:last-child) {
      margin-right: 20px;
    }

    section {
      display: flex;
    }

    div {
      path {
        transition: fill .2s ease-in-out;
      }

      &:hover {
        path {
          fill: $primary;
        }
      }
    }
  }
}