@import '../../../app/assets/styles/vars';

.selectionBar {
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #fff;
  border-top: 1px solid $gray;
  height: $selection-bar-height;

  > p {
    font-weight: 600;
  }

  div {
    display: flex;

    p {
      display: none;
    }

    img, svg {
      cursor: pointer;
    }

    div:not(:last-child), section:not(:last-child) {
      margin-right: 20px;
    }

    section {
      display: flex;
    }

    div:hover {
      img, path {
        filter: brightness(0) saturate(100%) invert(23%) sepia(83%) saturate(1472%) hue-rotate(237deg) brightness(85%) contrast(88%);
      }
    }
  }
}