@import '../../app/assets/styles/vars';

.folders {
  padding: 40px;

  h2 {
    margin-bottom: 20px;
  }
}

.wrapper {
  display: grid;
  gap: 20px;
  grid-template: auto / repeat(4, 1fr);
}

.folder {
  background: #fff;
  border-radius: 24px;
  position: relative;
  display: grid;
  align-content: space-between;
}

.folderHeadline {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;

  img {
    filter: brightness(0) saturate(100%) invert(24%) sepia(46%) saturate(2167%) hue-rotate(234deg) brightness(91%) contrast(90%);
  }

  div {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 4px;

    span {
      display: block;
      border-radius: 50%;
      width: 4px;
      height: 4px;
      background: #c7c3c3;
    }
  }
}

.folderFooter {
  background: #f0f0f0;
  border-radius: 0 0 24px 24px;
  padding: 20px;
  display: flex;
  align-items: center;
}

.download {
  position: absolute;
  right: 25px;
  top: 30px;
  background: $gray;
  padding: 10px;
  border-radius: 12px;
}