@import '../../app/assets/styles/vars';

.folders {
  padding: 40px;
  width: 100%;

  h2 {
    margin-bottom: 20px;
  }
}

.wrapper {
  display: grid;
  gap: 20px;
  grid-template: auto / repeat(4, 1fr);
}

.folder, .folderFooter {
  transition: background-color .2s ease-in-out;
}

.folder {
  background-color: #fff;
  border-radius: 24px;
  position: relative;
  display: grid;
  align-content: space-between;
  cursor: pointer;
  color: black;

  &:hover {
    background-color: $gray;

    .folderFooter {
      background-color: #e0e0e0;
    }
  }

  h4 {
    margin-bottom: 10px;
  }

  p {
    font-size: 14px;
    color: #8a8989;
  }
}

.folderHeadline {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;

  img {
    filter: brightness(0) saturate(100%) invert(24%) sepia(46%) saturate(2167%) hue-rotate(234deg) brightness(91%) contrast(90%);
  }

  div {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 4px;

    span {
      display: block;
      border-radius: 50%;
      width: 4px;
      height: 4px;
      background: #c7c3c3;
    }
  }
}

.folderFooter {
  background-color: #f0f0f0;
  border-radius: 0 0 24px 24px;
  padding: 20px;
  display: flex;
  align-items: center;
}