@import 'vars';

@font-face {
  font-family: Gladiora;
  src: url("../fonts/gladiora.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Gladiora;

  &:after, &:before {
    box-sizing: border-box;
  }
}

body {
  background: $background;
}

a {
  text-decoration: none;
  color: #fff;
}

li {
  list-style: none;
  color: #fff;
}

button {
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
}

input {
  outline: none;
}

.main {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: $header-height;
}

.page {
  display: grid;
  height: 100vh;
  place-items: center;
}