$primary: #583DA1;
$secondary: #1560A7;
$background: #f6f6f6;
$gray: #efefef;
$nav-width: 95px;
$header-height: 83px;
$file-width: 300px;
$selection-bar-height: 71px;
$box-shadow: 0 0 10px 5px #dce1e4;