@import '../../../../app/assets/styles/vars';

.contextMenu {
  background-color: #fff;
  border: 1px solid $gray;
  border-radius: 12px;
  position: absolute;
  z-index: 8;
  display: grid !important;
  gap: 0 !important;

  button {
    padding: 10px;
    font-weight: 600;
    color: #fff;

    &:not(:last-child) {
      border-bottom: 1px solid $gray;
    }

    &:first-child {
      border-radius: 12px 12px 0 0;
      background-color: $primary;;
    }

    &:nth-child(2) {
      background-color: #d0582a;
    }

    &:nth-child(3) {
      background-color: $secondary;
    }

    &:last-child {
      background-color: #e13030;
      border-radius: 0 0 12px 12px;
    }
  }
}