@import '../../../app/assets/styles/vars';

.emptyCloud {
  position: relative;
  bottom: calc($header-height / 2);
  display: grid;
  height: calc(100% - $header-height);
  align-content: center;
  justify-items: center;

  svg {
    height: 100px;
    width: 100px;
  }

  p {
    font-size: 18px;
    font-weight: 600;
  }
}